body {
  background-color: #d9d2d0;
}

.todo-list {
  background-color: white;
  width: 450px;
  margin: 50px auto;
  padding: 50px 50px 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 7px 9px 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 9px 8px 2px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.list {
  margin: 20px 0;
  padding: 0 10px;
  height: 400px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 7px;
}

.list::-webkit-scrollbar-thumb {
  height: 50%;
  background-color: rgb(198, 198, 198);
  border-radius: 10px;
}

.list::-webkit-scrollbar-track {
  background-color: rgb(242, 242, 242);
}

.item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.item ~ .item {
  margin-top: 10px;
}

.item__checkbox {
  margin-right: 10px;
}

.item__delete {
  color: darkgrey;
  transition: all 200ms ease-in;
}

.item__delete:hover {
  color: black;
}

.input-wrapper {
  display: flex;
  border-top: 1px solid black;
  padding-top: 10px;
}

.input {
  border: none;
  flex-basis: 100%;
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.add-btn {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
